.log-in {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);

  .form-holder {
    border-radius: 15px;
    background-color: #8e97ff;
    -webkit-align-items: center;

    padding-top: 60px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 10px;
    opacity: 1;
    width: 400px;
    visibility: visible;
    -webkit-transition: all .3s ease;

    input {
      border: 0;
      outline: 1px;
      box-shadow: none;
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 8px 15px;
      border-bottom: 1px solid gray;
      width: 250px;
      font-size: 12px;
    }
  }

  .myButton {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(256, 256, 256, 0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;

    &:hover {
      transition: all .3s ease;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.main {
  position: relative;
}
